
<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li class="nav-title"> <span data-translate="NAVIGATION">导航</span> </li>
        <li><a md-button aria-label="meanu" href="#/dashboard"><i class="zmdi zmdi-home"></i>主页</a></li>
        <li>
            <a md-button aria-label="meanu" href="#/core"><i class="zmdi zmdi-card-giftcard"></i><span>UI</span></a>
            <ul>
                <li><a md-button aria-label="meanu" href="#/core/typography"><i class="fa fa-circle"></i><span data-translate="TYPOGRAPHY">TYPOGRAPHY</span></a></li>
                <li><a md-button aria-label="meanu" href="#/core/buttons"><i class="fa fa-circle"></i><span data-translate="BUTTONS">BUTTONS</span></a></li>
                <li><a md-button aria-label="meanu" href="#/core/icons"><i class="fa fa-circle"></i><span data-translate="ICONS">ICONS</span> <span class="badge badge-info">3</span></a></li>
                <li><a md-button aria-label="meanu" href="#/core/lists"><i class="fa fa-circle"></i><span data-translate="LISTS">LISTS</span></a></li>
                <li><a md-button aria-label="meanu" href="#/core/components"><i class="fa fa-circle"></i><span data-translate="COMPONENTS">COMPONENTS</span> <span class="badge badge-danger">24</span></a></li>
                <li><a md-button aria-label="meanu" href="#/core/cards"><i class="fa fa-circle"></i><span data-translate="CARDS">CARDS</span></a></li>
                <li><a md-button aria-label="meanu" href="#/core/pricing-tables"><i class="fa fa-circle"></i><span data-translate="PRICING_TABLES">PRICING_TABLES</span></a></li>
                <li><a md-button aria-label="meanu" href="#/core/timeline"><i class="fa fa-circle"></i><span data-translate="TIMELINE">TIMELINE</span></a></li>
                <li><a md-button aria-label="meanu" href="#/core/maps"><i class="fa fa-circle"></i><span data-translate="MAPS">MAPS</span></a></li>
                <li><a md-button aria-label="meanu" href="#/core/grids"><i class="fa fa-circle"></i><span data-translate="GRIDS">GRIDS</span></a></li>
            </ul>
        </li>
        <li>
            <a md-button aria-label="meanu" href='{{layout.herf}}'><i class='{{layout.iconClass}}'></i><span >{{layout.name}}</span></a>
            <ul>
                <li ng-repeat="menu in layout.menu"><a md-button aria-label="meanu" href="{{menu.herf}}"><i class="fa fa-circle"></i><span>{{menu.name}}</span></a></li>
            </ul>
        </li>
        <li>
            <a md-button aria-label="meanu" href='{{core.herf}}'><i class='{{core.iconClass}}'></i><span >{{core.name}}</span></a>
            <ul>
                <li ng-repeat="menu in core.menu"><a md-button aria-label="meanu" href="{{menu.herf}}"><i class="fa fa-circle"></i><span>{{menu.name}}</span></a></li>
            </ul>
        </li>
        <li>
            <a md-button aria-label="meanu" href='{{scales.herf}}'><i class='{{scales.iconClass}}'></i><span >{{scales.name}}</span></a>
            <ul>
                <li ng-repeat="menu in scales.menu"><a md-button aria-label="meanu" href="{{menu.herf}}"><i class="fa fa-circle"></i><span>{{menu.name}}</span></a></li>
            </ul>
        </li>
        <li>
            <a md-button aria-label="meanu" href='{{SVG.herf}}'><i class='{{SVG.iconClass}}'></i><span >{{SVG.name}}</span></a>
            <ul>
                <li ng-repeat="menu in SVG.menu"><a md-button aria-label="meanu" href="{{menu.herf}}"><i class="fa fa-circle"></i><span>{{menu.name}}</span></a></li>
            </ul>
        </li>
        <li class="nav-divider"></li>
        <li class="nav-title"> <span data-translate="FEATURES">特征</span> </li>
        <li class="li-small"><a href="#/ui/components"><i class="fa fa-circle color-info"></i> <span data-translate="MATERIAL_COMPO">MATERIAL_COMPO</span></a></li>
        <li class="li-small"><a href="#/form/elements"><i class="fa fa-circle color-success"></i> <span data-translate="MATERIAL_ELEMENTS">MATERIAL_ELEMENTS</span></a></li>
        <li class="li-small"><a href="#/ui/icons"><i class="fa fa-circle color-danger"></i> <span data-translate="MATERIAL_ICONS">MATERIAL_ICONS</span></a></li>
    </ul>
</div>